
.product_main
{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.images_section
{
	position: relative;
	display: flex;
	justify-content: flex-end;
	right: 30px;
}
.images_section img
{
	height: 60vh;
}
.image_group
{
	display: flex;
	flex-direction: column;
	/*justify-content: center;*/
	/*margin-bottom: 50%;*/
}
.image_group .img_set img
{
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border:1px solid lightgrey;
  margin-right:30px;
  margin-top: 30px;
}

.about_product
{
	position: relative;
	/*border:1px solid red;*/
	padding: 35px;
	width:75%;
}
.product_price p
{
   font-weight: bolder;
}
.product_price strike
{
	margin-left: 6px;
}
.quantity_border span
{
   border:1px solid black;   
   max-width: 10px;
   padding: 5px;
   max-height: 4px;
   margin-right: 10px;
   position: relative;
   top: 10px;
}
.buy_buttons
{
	display: flex;
	justify-content:flex-start;
}
.btn
{
	padding:10px;
	min-width: 200px;
}
.btn-primary,.btn-primary:hover
{
	background-color: transparent;
	color: green;
	border-radius: 30px;
	border:1px solid green;
	margin-left: 24px;
}

.btn-success
{
	color:white;
	border-radius: 30px;
	/*border:1px solid green;*/
	background: linear-gradient(270.65deg, #3EFF68 -4.3%, #08BB30 106.28%);
}
.authentic
{
	display: flex;
	clear: both;
	font-weight: bolder;
	justify-content: space-between;
}
.authentic i
{
	padding-right: 10px;
	font-size: 19px;
}
.product_description p
{
	text-align: left;
	color: grey;
	font-size: 13px;
}


.contain .star-widget input{
  display: none;
}
.star-widget
{
	display: flex;
	flex-direction: row-reverse;
	float: left;
}
.star-widget label{
  font-size: 20px;
  color: #444;
  padding: 3px;
  transition: all 0.2s ease;
}
input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
  color:green;
}
input:checked ~ label{
  color: green;
}
input#rate-5:checked ~ label{
  color:green;
  text-shadow: 0 0 20px #952;
}

@media screen and (max-width: 768px)
{
    .images_section
    {
         right: 0;
         justify-content: center;
	}
	.btn
	{
		min-width: 20vw;
	}
	.product_price
	{
		position: relative;
		text-align: center;
	}
	.image_group
	{
	 flex-direction: row;
	 justify-content: center;

	}
	
	.main_image
	{
		display: flex;
		justify-content: center;
	}
	.images_section img
	{
		height: 40vh;
	}
	.image_group .img_set img
	{
		margin-right: 10px;
	}
	.buy_buttons
	{
		justify-content: center;
	}
	.authentic
	{
		justify-content: space-around;
		/*padding: 0px 40px;*/
	}
	.authentic i
	{
		display: block;
	} 
	.product_description p
	{
        text-align: left;
	}
	.contain
     {
     	display: flex;
     	position: relative;
     	justify-content: center;
     }
}
@media screen and (max-width: 459px)
{
    .authentic
	{
		justify-content: center;
		text-align: center;
	  flex-direction:column;
	}
	.authentic i
	{
		margin: 0;
		font-size: 30px;
		padding: 20px auto;
		text-align: center;
	}
	.authentic div
	{
		font-size: 20px;
	    padding: 20px auto;
	    margin-bottom: 10px;
	}
	.buy_buttons
	{
		flex-direction: column;
	}
	.btn
	{
	 margin: 10px; 
	 font-weight:bold;
	}
	
}
/*********best selling slider*******************/


.carousel-item{
	height: 400px;
	width: 100%;
  object-fit: cover;
  object-position: bottom;
	
}
.carousel-inner{
    border-radius: 10px;
}

.text{
	color: blueviolet;
	text-align: center;
}


#oat {
    width: 218px;
    height: 308px;
    margin-right: 80px;
    margin-bottom: 50px;
    background: #FFFFFF;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
	margin-top: 40px;

}

#oat img {
    width: 120px;
    height: 120px;
    margin-left: 49px;
    margin-top: 11px;
    background: #C4C4C4;
    align-items: center;
    border-radius: 150px;
    top: 1px;
}

p.product {
    position: center;
    margin-left: 75px;
    width: 100px;
    height: 32px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px; 
    display: flex;
    color: #4B597B;
    padding-top: 155px;
    text-align: center;
    padding-bottom: 12px;
    
}

p.price {
    color: #08BB30;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    margin-top: 1px;
    padding-bottom: 4px;
    text-align: center;

}

p.des-product{
    position: absolute;
    width: 150px;
    height: 32px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 32px;
    display: flex;
    text-align: center;
    color: #838383;
    margin-left: 50px;
    margin-top: -25px;
    text-align: center;

    
}

button.button {
    color: white;
    text-align: center;
    font-size: 16px;
    background: linear-gradient(180deg, #3EFF68 0%, #08BB30 100%);
    border-radius: 50px;
    position: absolute;
    width: 145px;
    height: 46px;
    margin-left: 24px;
    border: none;
    outline: 0;
    cursor: pointer;
    margin-top: 11px;
}
.carousel .thumb-wrapper .thumb-content btn {
	border-radius: 100%;
}

.carousel-control-prev  {
	height: 74px;
	width: 70px;
	top: -88px;
	background: #f2f3f0;
	border: 1px solid black;	
	margin: auto 0;
	border-radius: 4px;
	opacity: 0.8;
	left: -40px;
}
.carousel-control-next{
	height: 74px;
	width: 70px;
	top: -88px;
	background: #f2f3f0;
	border: 1px solid black;	
	margin: auto 0;
	border-radius: 4px;
	opacity: 0.8;
	right: -20px;
}
.carousel-control-prev i, .carousel-control-next i {
	font-size: 36px;
	position: absolute;
	top: 50%;
	display: inline-block;
	margin: -19px 0 0 0;
	z-index: 5;
	left: 0;
	right: 0;
	color: black;
	text-shadow: none;
	font-weight: bold;
}
.carousel-control-prev i {
	margin-left: -2px;
	bottom:- 20px;
}
.carousel-control-next i {
	margin-right: -4px;
}	

/*****************bottom section carousel*******************/

.bottom-text{
	color: blueviolet;
	text-align: center;
}

.carouselQ {
	margin: 50px auto;
	padding: 0 170px;
	border-radius: 10px;
	right: -50px;
}

.carousel .thumb-wrapper {
	padding: 40px .1px;
	background: #fff;
	text-align: center;
	position: relative;
	padding-left: 0px;

}
.carousel .item .img-box {
	height: 250px;
	width: 240px;
	position: relative;
	padding:0 80px;
	left: 20px;

	
}
@media screen and (max-width: 650px){
	.last{
		height: 100% !important;
		width: 100% !important;
	}
	
}

#spacing{
    margin-left: 30px;
}
#spacing1{
    margin-left: 30px;
}
#spacing2{
    margin-left: 30px;
}
#spacing3{
    margin-left: 30px;
}
.carousel .item .effect{
	border-radius: 100%;
}

.carousel .item img{	
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	border-radius: 10px;



}
.carousel .thumb-wrapper .thumb-content btn {
	border-radius: 100%;
}

.carousel-control-prev  {
	height: 74px;
	width: 70px;
	top: -88px;
	background: #f2f3f0;
	border: 1px solid black;	
	margin: auto 0;
	border-radius: 4px;
	opacity: 0.8;
	left: -40px;
}
.carousel-control-next{
	height: 74px;
	width: 70px;
	top: -88px;
	background: #f2f3f0;
	border: 1px solid black;	
	margin: auto 0;
	border-radius: 4px;
	opacity: 0.8;
	right: -20px;
}
.carousel-control-prev i, .carousel-control-next i {
	font-size: 36px;
	position: absolute;
	top: 50%;
	display: inline-block;
	margin: -19px 0 0 0;
	z-index: 5;
	left: 0;
	right: 0;
	color: black;
	text-shadow: none;
	font-weight: bold;
}
.carousel-control-prev i {
	margin-left: -2px;
	bottom:- 20px;
}
.carousel-control-next i {
	margin-right: -4px;
}		




@media screen and (max-width:650px){
	.carousel-control-prev , .carousel-control-next {
		height: 40px !important;
		width: 40px !important;
		display: none !important;
	}
	.carousel{
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	.slidertwo{
		padding-left: 0px !important;
		padding-right: 0px !important;
		
	}
	.col{
		height: 150px !important;
		width: 300px !important;

	}
	.col img{
		margin-left: 0 !important;
		height: 50px !important;
		width: 50px !important;
	}
	.slidermiddle{
		right: -10px !important;
	}
	.round{
		display: flex !important; 
		justify-content: center !important;
		align-items: center !important;
	}
	.btnround{
		padding: 0px !important;
	}
	.bottomsection{
		right: 10px !important;
		width: 110% !important;
	}
	.row-footer{
		display: flex !important;

	}
	.footermedia{
		margin: 0 !important;
	}
	.lastfooter{
		display: flex !important;
		width: 100% !important;
		align-items: flex-start !important;
		flex-wrap: wrap !important;
	}
	.location{
		width: 30% !important;
		height: 30px !important;
	}
	.loca{
		margin: 0 !important;
		height: 100px !important;
	}
	.loca li{
		display: flex !important;

	}
	.btnround h4{
		font-size: 20px !important;
		text-align: center !important;
	}
	.bottom-text h2{
		margin-top: 0px !important;
		font-size: 30px !important;
	}
	p.product{
		position: center !important;
		margin-left: 18px  !important;
		width: 50px !important;
		height: 12px !important;
		font-family: Roboto !important;
		font-style: normal !important;
		font-weight: bold !important;
		font-size: 15px !important;
		line-height: 42px !important; 
		display: flex !important;
		color: #4B597B !important;
		padding-top: 45px !important;
		text-align: center !important;
		padding-bottom: 12px !important;
		margin-right: -20px !important;
		
	}
		
	p.price {
		color: #08BB30;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 11px;
		line-height: 32px;
		margin-top: 1px;
		padding-bottom: 1px;
		text-align: center;

	}

	p.des-product{
		position: absolute;
		width: 150px;
		height: 32px;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 11px;
		line-height: 32px;
		display: flex;
		text-align: center;
		color: #838383;
		margin-left: 5px;
		margin-top: -30px;
		text-align: center;

		
	}

	button.button {
		color: white;
		text-align: center;
		font-size: 10px;
		background: linear-gradient(180deg, #3EFF68 0%, #08BB30 100%);
		border-radius: 50px;
		position: absolute;
		width: 75px;
		height: 26px;
		margin-left:4px;
		border: none;
		outline: 0;
		cursor: pointer;
		margin-top: -4px;
	}
	#oat img {
		width: 40px !important;
		height: 40px !important;
		margin-left: 34px !important;
		margin-top: 11px;
		background: #C4C4C4;
		align-items: center;
		border-radius: 0px;
		top: 1px;
	}
	.loca{
		padding-left: 0px !important;
		padding-right: 100px !important;
	}
	.text-center{
		width: 130% !important;
		margin-right: 0px !important;
	}
	.social-icon {
		display: flex !important;
		flex-direction: row !important;
	}
	.btn-social-icon {
		padding-right: 20px !important;
	}
	.col-auto{
		text-align: center !important;
		margin:auto !important;
	}
	.footercopy{
		margin-left: 90px !important;
		padding-left: 0px !important;
	}
	.footericons{
		margin-left: -20px !important;
	}
	.img-box{
		padding: 0 !important;
		width: 200px !important;
		height: 150px !important;
	}
	.carousel-inner{
		height: 300px;
	}
	.img-fluid{
		width: 200px;
	}
	.bottomimages{
		top: 153px !important;
		height: 50px !important;
		width: 50px !important;
		right: -130px !important;
	}
	.bookmarkimage{
		right: -40px !important;
		height: 10px !important;
		width: 50px !important;
		font-size: 45px !important;
	}
	.bookmarktext{
		right: -20px !important;
		height: 10px !important;
		font-size: 12px !important;
	}
}



