.empty_cart {
    position: absolute;
    width: 328px;
    height: 32px;
    left: 618px;
    top: 233px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 32px;
    /* identical to box height, or 80% */
    
    display: flex;
    align-items: center;
    
    color: #3C64B1;
}

.add_items_button {
    position: absolute;
    width: 156px;
    height: 46px;
    left: 691px;
    top: 343px;
    
    background: linear-gradient(180deg, #3EFF68 0%, #08BB30 100%);
    border-radius: 50px;
    color: white;
    border: none;
}

@media (max-width: 1050px){
    .empty_cart {
        text-align: center;
        width: 400px;
        height: 32px;
        left: 340px;
        top: 160px;
    }

    .add_items_button {
        text-align: center;
        width: 120px;
        height: 40px;
        left: 425px;
        top: 260px;
    }
}

@media (max-width: 500px){
    .empty_cart {
        text-align: center;
        width: 400px;
        height: 32px;
        left: 165px;
        top: 136px;
        font-size: 26px;
    }

    .add_items_button {
        left: 210px;
        top: 220px;
        width: 95px;
        height: 30px;
        font-size: 10px;
    }
}