

   /*Header*/

Body{
overflow-x:hidden;
}

.header_main
{
	padding: 20px;
}
.header_search
{
	display:flex;
	justify-content: center;
	align-items: center;
	background-color: lightgrey;
	height: 40px;
	border-radius: 15px;
}
.header_search input
{
	width:70%;
	outline: none;
	border: none;
	background-color: transparent;
	padding-left: 7px;
}
.mobile_header_search
{
	display:flex;
	justify-content: center;
	align-items: center;
	background-color: lightgrey;
	height: 40px;
	margin-left:23px;
	width:80%;
	border-radius: 15px;
}
.mobile_header_search input
{
	width:40%;
	outline: none;
	border: none;
	background-color: transparent;
	padding-left: 7px;
}

.logo_img
{
	text-align: center;
	align-self: center;
}
.side_icon
{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.side_icon i 
{
	font-size: 20px;
}
.account span
{
   padding-left: 4px;
   color:grey;
}
.cart span
{
	color: grey;
}
.cart
{
	text-align: center;
	position: relative;
	margin-left: 20px;
	margin-right: 15px;
}
.account i , .cart i
{
	margin-left: 10px;
}
.bottom_border
{
	border-bottom: 1px solid lightgrey;
	width: 100vw;
	position: absolute;
	left: 0;
}
.main_menu
{
	display: flex;
	justify-content: center;
}
.main_list a
{
	color: black;
	padding:0px 19px;
}
.main_list a:hover
{
	text-decoration: none;
	color: green;
}
.mobile_view
{
	display: none;
}

.hamburger_icon i
{
	font-size: 30px;
}
.mobile_img
{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.hamburger_icon
{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.sidebar
{
	position: absolute;
	z-index:100;
	top: 0;
	right:-60%;
	width: 60%;
	height: 100%;
	background-color: grey;
	transition: all 0.8s linear;
	
}
.sidebar i
{
	font-size: 25px;
	padding:10px;
	color: white;
}
.sidebar a
{
	display: block;
	color: white;
	font-size: 20px;
	padding:20px;
	padding-left: 30px;
	text-decoration: none; 
}
.sidebar a:hover
{
	color: green;
}
.mobile_icon
{
	position: absolute;
	bottom: 5px;
}
 
.mobile_account ,.mobile_cart
{
	padding-left: 30px;
	color: white;
}

.h1{
	
font-size: 55px;
display: flex;
align-items: center;


}




.card{
	float: left;
	margin: 100px;
	background: #FFFFFF;
box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
border-radius: 20px;
width: 220px;
height: 500px;
}

.yourorder
{
font-size: 40px;
margin-left: 600px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: 32px;



}
.ba{
	font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 32px;
margin-left: 600px;
}


.btn1{
background: linear-gradient(180deg, #3EFF68 0%, #08BB30 100%);
border-radius: 50px;
margin-left: 70px;
width: 175px;
height: 59px;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 16px;
color: #FFFFFF;
}
.btn2{
	border: 3px solid #3EFF68 ;
	width: 165px;
	height: 59px;
	margin-left: 70px;
	border-radius: 50px;
	font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 10px;
color:#3EFF68;
}

.txt1{
	font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 32px;
/* identical to box height, or 178% */

display: flex;
align-items: center;
margin-left: 60px;
color: #4B597B;
}
.txt2{
	font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 32px;
/* identical to box height, or 178% */

display: flex;
align-items: center;
color:#3EFF68;
margin-left: 70px;
}
.txt3{
	
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 32px;
/* identical to box height, or 229% */

display: flex;
align-items: center;

color: #838383;
margin-left: 65px;
}


background: linear-gradient(180deg, #3EFF68 0%, #08BB30 100%);
border-radius: 50px;
}
@media screen and (max-width: 992px)
{
  .account,.cart 
  {
	text-align: center;
  }
  .account i , .cart i
  {
	margin-left: 5px;
  }
}
@media screen and (max-width: 650px)
{
	.header_main
	{
		display: none;
	}
	.mobile_view
	{
		display: block;
		padding:20px;
	}
}

