

   /*Header*/

body
{
   overflow-x: hidden;
}
.header_main
{
	padding: 20px;
}
.header_search
{
	display:flex;
	justify-content: center;
	align-items: center;
	background-color: lightgrey;
	height: 40px;
	border-radius: 15px;
}
.header_search input
{
	width:70%;
	outline: none;
	border: none;
	background-color: transparent;
	padding-left: 7px;
}
.mobile_header_search
{
	display:flex;
	/*justify-content: center;*/
	align-items: center;
	background-color: lightgrey;
	height: 40px;
	margin-top: 19px;
	margin-left:23px;
	width:80%;
	border-radius: 15px;
}
.mobile_header_search input
{
	width:40%;
	outline: none;
	border: none;
	background-color: transparent;
	padding-left: 7px;
}

.logo_img
{
	text-align: center;
	align-self: center;
}
.side_icon
{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.side_icon i 
{
	font-size: 20px;
}
.account span
{
   padding-left: 4px;
   color:grey;
}
.cart span
{
	color: grey;
}
.cart
{
	text-align: center;
	position: relative;
	margin-left: 20px;
	margin-right: 15px;
}
.account i , .cart i
{
	margin-left: 10px;
}
.bottom_border
{
	border-bottom: 1px solid lightgrey;
	width: 100vw;
	position: absolute;
	left: 0;
}
.main_menu
{
	display: flex;
	justify-content: center;
}
.main_list a
{
	color: black;
	padding:0px 19px;
}
.main_list a:hover
{
	text-decoration: none;
	color: green;
}
.mobile_view
{
	display: none;
}

.hamburger_icon i
{
	font-size: 30px;
}
.mobile_img
{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.hamburger_icon
{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.sidebar
{
	position: absolute;
	top: 0;
	right:-50vw;
	z-index: 1000;
	width: 50vw;
	height: 100%;
	background-color: #555555;
	transition: all 0.5s ease-out;
	
}
.sidebar i
{
	font-size: 25px;
	padding:10px;
	color: white;
}
.sidebar a
{
	display: block;
	color: white;
	font-size: 20px;
	padding:20px;
	padding-left: 30px;
	text-decoration: none; 
}
.sidebar a:hover
{
	color: #00D957;
}
.mobile_icon
{
	position: absolute;
	bottom: 5px;
}
 
.mobile_account ,.mobile_cart
{
	padding-left: 30px;
	color: white;
}
@media screen and (max-width: 992px)
{
  .account,.cart 
  {
	text-align: center;
  }
  .account i , .cart i
  {
	margin-left: 5px;
  }
}
@media screen and (max-width: 650px)
{
	.header_main
	{
		display: none;
	}
	.mobile_view
	{
		display: block;
		padding:20px;
	}
}

