body {
  font-family: Arial, sans-serif;
  background-size: cover;
  background: #FFFFFF;
}


.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 994px;
  height: 613px;
  position: relative;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

.background_image {

  position: absolute;
  margin-top: 50px;
  width: 100%;
  height: 767px;
  top: 274px;

  background: rgba(205, 205, 205, 0.2);
  backdrop-filter: blur(35px);
  /* Note: backdrop-filter has minimal browser support */
  filter: blur(5px);

  border-radius: 20px;
}

.add_products {
  position: absolute;
  width: 432px;;
  height: 282px;
  left: 38%;
  top: 517px;

  background: #767171;
  border-radius: 20px;
}

.add_images {
  position: absolute;
  width: 273px;
  height: 209px;

  background: #C8C8C8;
  border-radius: 20px;
  margin-left: 138px;
  margin-top: 96px;
}

h1 {
  position: absolute;
  width: 300px;
  height: 32px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 32px;
  /* identical to box height, or 107% */

  display: flex;
  align-items: center;

  color: #000000;
  margin-left: 475px;
  margin-top: 96px;
}

select.category {
  position: absolute;
  width: 203px;
  height: 32px;

  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;
  margin-left: 653px;
  margin-top: 160px;
}

label.category {
  position: absolute;
  width: 81px;
  height: 32px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  /* identical to box height, or 160% */

  display: flex;
  align-items: center;

  color: #202020;
  margin-left: 475px;
  margin-top: 160px;
}

label.mrp {
  position: absolute;
  width: 43px;
  height: 32px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  /* identical to box height, or 160% */

  display: flex;
  align-items: center;

  color: #202020;
  margin-left: 475px;
  margin-top: 216px;
}

input.mrp {
  position: absolute;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;
  width: 203px;
  height: 32px;
  margin-left: 653px;
  margin-top: 216px;
}

label.discount {
  position: absolute;
  width: 130px;
  height: 32px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  /* identical to box height, or 160% */

  display: flex;
  align-items: center;

  color: #202020;
  margin-left: 475px;
  margin-top: 272px;

}

input.discount {
  position: absolute;
  width: 203px;
  height: 32px;

  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;
  margin-left: 653px;
  margin-top: 272px;
}

label.description {
  position: absolute;
  width: 102px;
  height: 32px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  /* identical to box height, or 160% */

  display: flex;
  align-items: center;

  color: #202020;
  margin-left: 475px;
  margin-top: 328px;
}

textarea.description {
  position: absolute;
  width: 203px;
  height: 140px;

  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;
  margin-left: 653px;
  margin-top: 328px;
}

.update {
  position: absolute;
  width: 272px;
  height: 62px;

  background: #4E4E4E;
  border-radius: 10px;
  margin-top: 480px;
  margin-left: 362px;
  color: #FFFFFF;
  font-size: 20px;
}

::placeholder {

    position: absolute;
    width: 140px;
    height: 32px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 32px;
    /* identical to box height, or 200% */

    display: flex;
    align-items: center;

    color: #CDCDCD;
    margin-left: 16px;
    }

    select {
      font-size: 14px;
      color: #CDCDCD;
    }

    .search-desktop input[type=text]{
      margin-left: 250px;
      margin-top: 60px;
      width: 400px;
      height:52px;
      border-radius:10px;
      background: #f0ecec;
      border: none;
      padding-left: 20px;

  }

  .search-desktop button {
      margin-left: -40px;
      border: none;
      color: #9B9B9B;

  }

  .search-desktop {
      display: flex;
      justify-content: space-between;
  }

  select.select-2 {
    width: 203px;
    height: 52px;
    margin-top: 60px;
    margin-right: 250px;
  }

  hr {
    position: absolute;
    width: 273px;
    height: 0px;

    border: 4px solid #C8C8C8;
    margin-left: 138px;
    margin-top: 377px;
  }

  .product_name {
    position: absolute;
    width: 180px;
    height: 32px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    /* identical to box height, or 160% */

    display: flex;
    align-items: center;

    color: #C2C2C2;
    margin-left: 185px;
    margin-top: 337px;
    border: none;
  }


@media screen and (max-width: 700px){
  .box{
    width: 75%;
  }
  .popup{
    width: 80%;
    top: 400px;
  }

  .background_image{
    width: 1000px;

    top: 500px;
    left: 40px;
  }

  .add_products{
    left: 90%;
    top: 750px;
  }



}
